@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-family: 'Oswald', sans-serif;
}

.list-text {
    font-size: 1.125rem;
    line-height: 1.5em;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* navbar */
header {
    background-color: #2E323F;
    padding: 1em 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
}

.nav__list {
    margin: 0 auto;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
}

.nav__link {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link--button {
    background-color: #A59678;
    border-radius: 100px;
    padding: .25em 1em;
}

/* first section */

.first-section {
    background-color: #3B4050;
    padding: 2em 0;
}

.first__title {
    color: #FFF;
    font-size: 3rem;
    line-height: 1em;
}

.title-half {
    color: #A59678;
}

.intro__text {
    color: #FFF;
    font-size: 1.2em;
    line-height: 1.4em;
}

.intro__button {
    background-color: #A59678;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    padding: .25em 1.3em;
}

/* second section */

.second-section {
    background-color: #e7eaf4;
    padding: 2em 0;
    text-align: center;
}

.second__title {
    color: #A59678;
    font-size: 1.875rem;
}

/* third section */

.third-section {
    margin: 2em 0;
}

.third__title {
    color: #A59678;
    font-size: 1.75rem;
}

.content-text {
    font-size: 1.2rem;
    line-height: 1.4em;
}

.content-img {
    width: 100%;
    margin: 1em 0;
}

.sidebar {
    background-color: #3B4050;
    color: #FFF;
    text-align: center;
    padding: 1em 2em;
    margin-bottom: 1.5em;
}

/* fourth section */

.fourth-section {
    background-color: #3B4050;
    color: #FFF;
    padding: 2em 0;
}

.fourth-title {
    font-size: 2rem;
    text-align: center;
}

.footer-title {
    color: #A59678;
    font-size: 1.2rem;
}

.footer-text {
    line-height: 1.5em;
}

.footer__links {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    list-style-type: none;
    padding: 0;
}

.footer__list > li {
    margin-top: 1.5em;
}

/* medium screens */

@media (min-width:700px) {
    .row {
        display: flex;
        justify-content: space-between;
    }

    /* navbar */
    .nav__list {
        display: flex;
        margin: 0;
    }

    .nav__list--primary {
        margin-right: 0;
    }

    .nav__link {
        margin: 0 0 0 2em;
    }

    /* first section */
    .first-section {
        padding: 7em 0;
    }
    .first__title {
        font-size: 5.625rem;
        margin: 0;
    }

    .intro {
        align-self: flex-end;
        font-size: 1.5rem;
    }

    .intro__button {
        font-size: 1.5rem;
    }

    /* second section */
    .second-section {
        padding: 5em 0;
    }

    .second__col {
        width: 28%;
    }

    /* third section */
    .third-section {
        padding: 3em 0;
    }
    .third__title {
        font-size: 2.25rem;
    }

    .content-text {
        font-size: 1.3125rem;
    }

    .sidebar-flex {
        display: flex;
    }

    .sidebar + .sidebar {
        margin-left: 1em;
    }

    /* fourth section */
    .fourth-title {
        font-size: 3rem;
    }

    .footer__menu {
        width: 38%;
    }
    .footer__links {
        width: 58%;
    }
}

/* large screens */

@media (min-width:1000px) {
    .content-flex {
        display: flex;
        justify-content: space-between;
    }

    .content {
        width: 60%;
    }

    .sidebar-flex {
        display: flex;
        flex-direction: column;
        width: 32%;
    }

    .sidebar + .sidebar{
        margin-left: 0;
    }
}